.card-juegos {
  margin-top: 9.5%;
  background-color: transparent !important;
  border: 0px !important;
}

.card-buscador {
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 1%;
  display: flex;
}
