.card-juego-item {
  margin-top: 0.5%;
  margin-right: 3%;
  margin-left: 3%;
}

.juego-title {
  padding-top: 1.5%;
  margin-left: 5%;
}

.juego-title:hover {  
  opacity: .7;
}

.juego-img {
  border-radius: 3%;
}

.item-link {
  color: black;
}

.item-link:hover {
  color:  black;
  text-decoration: none;
}
