.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App-content {
  flex-grow: 1;
  outline: none;
  position: relative;
  overflow-y: auto;
  background-position: center; 
  background-size: contain;
  background-image: url("./app_wallpaper.jpg");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar .Navbar-brand-text {
  font-size: xx-large !important;
  font-family: starcraft !important;
  margin-left: 4%;
}

.app-titulo {
  font-size: 550% !important;
  font-family: starcraft !important;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 45px;
}

.titulo-Gunstige {
  color: #cad3fd;
}

.titulo-Gunstige:hover {
  text-decoration: none;
  color: #cad3fd;
  opacity: .8;
}

.titulo-Spiele {
  color: #d83b08;
}

.titulo-Spiele:hover {
  text-decoration: none;
  color: #d83b08;
  opacity: .8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
